.App {
  text-align: center;
}
.BodyListApp {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.MargirRight10px {
  margin-right: 10px;
}
.FullPrice {
  margin-top: 20px;
  font-weight: bold;
  font-size: medium;
}
.ModalCart {
  margin-top: 15px;
  background-color: lightblue;
  padding: 10px;
}
.GoodsListItem {
  display: flex;
  justify-content: space-around;
}
.ShopItem {
  display: flex;
}
.ImgShopCart {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-top: 10px; 
  cursor: pointer;
}
.ButtonStle {
  background-color: lightcyan;
  border-color: lawngreen;
}